
{% extends 'base.html'%}

{% block content%}
<html>
  <head><h1>TaskDetails</h1></head>

<h3>taskname:{{todo1.taskname}}</h3>
  <h3>taskdescription:{{todo1.taskdescription}}</h3><br>

    <h3>task_document:{{todo1.task_document}}</h3><br><br>

      <h3>created_at:{{todo1.created_at}}</h3><br>

        <h3>due_date:{{todo1.due_date}}</h3><br>

      priority  <h3>priority :{{todo2.priority}}<p></h3><br>
          <h3>trywork :{{todo2.trywork}}</h3><br>
    <h3>doing :{{todo2.doing}}</h3><br>
              <h3>done :{{todo2.done}}</h3><br>

{% endblock%}
